* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none !important;
}

.cursor_pointer {
  cursor: pointer;
}

.mt_42 {
  margin-top: 42px;
}



.gap_15 {
  gap: 15px;
}

.cutting_main_box {
  max-width: 1140px;
  padding: 20px;
  background-color: var(--color-grey);
}

.heading_line {
  max-width: 40px;
  height: 2px;
  background-color: var(--color-green);
}

.mt_10 {
  margin-top: 10px;
}

.main_heading_max_w {
  max-width: 799px;
}

.device_card {
  max-width: 510px;
  border: 1.09px solid #0000001A;
}

.inside_padding {
  padding: 15px;
}

.common_btn {
  padding: 12.35px 22.25px;
  background-color: var(--color-green);
  border: 1px solid transparent;
}

.mt_18 {
  margin-top: 18.25px;
}

.gap_40 {
  gap: 40px;
}

.top_leaf_pos {
  top: -4%;
  left: 0%;
  z-index: -1;
}

.bottom_leaf_pos {
  bottom: -6%;
  right: 0;
  z-index: -1;
}

@media (min-width:576px) {
  .cutting_main_box {
    max-width: 1140px;
    padding: 40px;
    background-color: var(--color-grey);
  }

  .inside_padding {
    padding: 30px;
  }

  .common_btn {
    padding: 16.35px 27.25px;
    background-color: var(--color-green);
    border: 1px solid transparent;
  }

  .mt_18 {
    margin-top: 27.25px;
  }

  .heading_line {
    max-width: 60px;
    height: 2px;
    background-color: var(--color-green);
  }

}