@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&display=swap');

:root {
  --fs-xsm: 16px;
  --fs-sm: 16px;
  --fs-md: 25px;
  --fs-lg: 16px;
  --fs-xl: 26px;

  /* color */
  --color-green: #6e9277;
  --color-lightblack: #001008;
  --color-grey: #f5f8f6;
  --color-lightgreen: #4D5852;
}


.opacity_70 {
  opacity: 70%;
}

.color-green {
  color: var(--color-green);
}

.color-lightgreen {
  color: var(--color-lightgreen);
}

.color-lightblack {
  color: var(--color-lightblack);
}

.color-grey {
  color: var(--color-grey);
}

.text-16 {
  font-size: var(--fs-xsm);
}

.text-18 {
  font-size: var(--fs-sm);
}

.text-25 {
  font-size: var(--fs-md);
}

.text-32 {
  font-size: var(--fs-lg);
}

.text-48 {
  font-size: var(--fs-xl);
}

.ff-archivo {
  font-family: "Archivo", sans-serif;
}

.ff-kaushan {
  font-family: "Kaushan Script", cursive;

}

.lh-46 {
  line-height: 46.43px;
}

.lh-62 {
  line-height: 34.4px;
}

.lh-32 {
  line-height: 32.5px;
}

.lh-24 {
  line-height: 24px;
}


@media (min-width:576px) {

  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-lg: 27px;
    --fs-xl: 38px;

  }

  .lh-62 {
    line-height: 53.4px;
  }

  .lh-32 {
    line-height: 32.5px;
  }

  .lh-24 {
    line-height: 24px;
  }



}

@media (min-width:768px) {

  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-lg: 32px;
    --fs-xl: 48px;

  }

  .lh-62 {
    line-height: 62.4px;
  }

  .lh-32 {
    line-height: 32.5px;
  }

  .lh-24 {
    line-height: 24px;
  }



}

@media (min-width:992px) {

  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-lg: 32px;
    --fs-xl: 48px;

  }

  .lh-62 {
    line-height: 62.4px;
  }

  .lh-32 {
    line-height: 32.5px;
  }

  .lh-24 {
    line-height: 24px;
  }



}

@media (min-width:1024px) {

  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-lg: 32px;
    --fs-xl: 48px;

  }

  .lh-62 {
    line-height: 62.4px;
  }

  .lh-32 {
    line-height: 32.5px;
  }

  .lh-24 {
    line-height: 24px;
  }



}

@media (min-width:1200px) {

  :root {
    --fs-xsm: 16px;
    --fs-sm: 18px;
    --fs-md: 25px;
    --fs-lg: 32px;
    --fs-xl: 48px;
  }

  .lh-62 {
    line-height: 62.4px;
  }

  .lh-32 {
    line-height: 32.5px;
  }

  .lh-24 {
    line-height: 24px;
  }



}